<% if logged_in? %>
    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <%= render 'shared/user_info' %>
            </section>
            <section class="stats">
                <%= render 'shared/stats' %>
            </section>
            <section class="micropost_form">
                <%= render 'shared/micropost_form' %>
            </section>
        </aside>
        <div class="col-md-8">
            <h3>我的关注</h3>
            <%= render 'shared/feed' %>
        </div>
    </div>
<% else %>
    <div class = "center jumbotron">
        <h1>我想和你分享快乐 这样快乐就变成两倍</h1>
        <h2>您好，这里是数据集分享网站--BringD</h2>
        <h2>Bring your favourite Datasets </h2>
        <h3>享你所爱,助力前行</h3>
        <%= link_to "开 始 探 索", signup_path, class: "btn btn-lg btn-primary" %></div>
        <div class = "home-img"><img alt="Rails logo" src="assets/下载.jpg" /></div>
    </div>
<% end %>

