<%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">

                
        <%= f.label :数据集名称%>
        <%= f.text_field :d_name,class:"form-control"%>
        
        <%= f.label :数据集作者%>
        <%= f.text_field :d_author,class:"form-control"%>
        
        <%= f.label :下载地址%>
        <%= f.text_field :d_durl,class:"form-control"%>
        <%= f.text_area :content, placeholder: "数据集的详细描述..." %>
    </div>
    <span class="picture">
        <%= f.label :上传图片%>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>
    <%= f.submit "上传", class: "btn btn-primary" %>
    
<% end %>

<script type="text/javascript">
    $('#micropost_picture').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
        alert('能够上传的最大图片为 5MB. 请重新选择图片.');
    }
    });
</script>